{% extends 'base.html.twig' %}

{% block title %}Hello ApplicationController!{% endblock %}

{% block body %}
<header>
    <div>
      <a href="{{ path('app_accueil')}}"><img src={{asset('images/logo.png')}} class="logo"></a>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
    <ul class="menu">
      <li><a href="{{ path('app_application')}}">Notre Application</a></li>
      <li>Abonnement</li>
      <li><a href="{{ path('app_team')}}">La Team Leo</a></li>
      <li><a href="{{ path('app_contact')}}">Contact</a></li>
      <li>
      <button>Télécharger l'application</button></li>
        <li><img src={{asset('images/pictogrammes/user.png')}} class="picto">
        </li>
    </ul>
  </header>




<section id="team">
    <div>
        <h1>Notre <strong>team</strong></h1>
    </div>
    <div>
        <article>
            <div data-aos="fade-up" class="adrien">
                <div>
                    <h5>Adrien LE COQ</h5>
                    <h6>Webmaster </h6>
                </div>
            </div>
        </article>
        <article>
            <div data-aos="fade-up" class="naike">
                <div>
                    <h5>Naîké FARIBALDI</h5>
                    <h6>UX Designer </h6>
                </div>
            </div>

            <div data-aos="fade-up" class="kevin">
                <div>
                    <h5>Kevin FRITALE</h5>
                    <h6>UI Designer </h6>
                </div>
            </div>
        </article>
        <article>
            <div data-aos="fade-up" class="ludovic">
                <div>
                    <h5>Ludovic Cantobion</h5>
                    <h6>UI DESIGNER </h6>
                </div>
            </div>

            <div data-aos="fade-up" class="celia">
                <div>
                    <h5>Célia SALIPLU</h5>
                    <h6>UI DESIGNER </h6>
                </div>
            </div>
        </article>
        <article>
            <div data-aos="fade-up" class="alexis">
                <div>
                    <h5>Alexis PERRIN</h5>
                    <h6>UI DESIGNER </h6>
                </div>
            </div>
        </article>
    </div>
    
</section>

<section id="securite">
    <article>
        <img src={{asset('images/image/team_child.png')}}>
    </article>

    <article>
         <b><span>La </span>sécurité <span>de vos </span>enfants <span>est notre priorité </span></b>
         <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua !  At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ! 
         </p>
    </article>
</section>

<footer>
    <article>
        <div>
            <img src={{asset('images/logo_footer.png')}} alt="app_store" class="appstore">
        </div>
        <ul>
            <h4>Menu</h4>
            <li>Comment ca marche</li>
            <li>A propos de nous</li>
            <li>Contact</li>
        </ul>
         <ul>
            <h4>Menu</h4>
            <li>Comment ca marche</li>
            <li>A propos de nous</li>
            <li>Contact</li>
        </ul>
         <ul>
            <h4>Newsletters</h4>
            <form>
                <input type="text" placeholder="Insérer votre e-mail">
                <img src={{asset('images/pictogrammes/fleche2.png')}} alt="app_store" class="appstore">
            </form>
        </ul>
    </article>
</footer>




{% endblock %}
